.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.swp
*~

**/.cxx

ehthumbs.db
Icon
Desktop.ini
$RECYCLE.BIN/

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
ipch/
*.pdb
*.idb
*.ilk
*.exp
*.lib
*.obj
*.o
*.bin
*.exe
*.dll
*.app

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeScripts/
CTestTestfile.cmake
Makefile
install_manifest.txt
compile_commands.json
CMakeLists.txt.user

build.ninja

/build/
/build-*/
*/build/
*/build-*/
debug-*/
release-*/
*/CMakeFiles/
*/cmake_install.cmake
*/CMakeCache.txt

.idea/
*.iml
cmake-build-*/

.gradle/
local.properties
/*.keystore
/*.jks
/.idea/
build/
app/build/

*.class
*.jar
*.war
*.ear

*.7z
*.zip
*.tar.gz
*.rar
*.spv

**/build/**
**/bin/**
**/lib/**
**/obj/**
**/intermediates/**

**/engine/dependencies/*/build/
**/engine/dependencies/*/lib/

Debug*/
Release*/

*.sublime-project
*.sublime-workspace
.vscode/

*.pfx

npm-debug.log*

!.gitignore_local

imgui.ini

/assets/**
!/engine/assets/shaders/
!/engine/assets/shaders/**
/assets/shaders/**/*.spv
!/assets/engine
!/assets/engine**